
/FScan.Reports/FScanReports/Client/obj
/FScan.Reports/FScanReports/Server/obj
/FScan.Reports/FScanReports/Server/obj/Debug/net8.0
/FScan.Reports/FScan.Reports.Infrastructure/bin/Debug/net8.0
/FScan.Reports/FScan.Reports.Infrastructure/bin/Debug/net8.0
/FScan.Reports/FScanReports/Server/bin/Debug/net8.0
/FScan.Reports/FScanReports/Client/obj/Debug
/FScan.Reports/FScan.Reports.Application/obj
*.cache
