@page "/FingerPrintScanLogs"

<div class="nk-block">
    <div class="row g-gs">
        <div class="col-xxl-12">
            <div class="card card-full">
                <div class="card-inner">
                    <div class="card-title">
                        <h5 class="title">FScan Logs</h5>
                    </div>
                 
                </div>
               

            </div>
        </div>



    </div>
</div>
@code {
   
}
